p {color: rgb(255, 0, 0); text-align: center;}
span {text-align-last: justify;}
#p2{
    border-style: dotted dashed solid ridge;
    border-color: bisque red brown blue;
    border-width: 4px 8px 6px 2px;
}
